h1 {
  color: red;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
section {
  width: 300px;
  margin: 0 auto;
}
.up,
.down {
  border: 1px solid black;
  border-radius: 5px;
}
.up {
  height: 400px;
  overflow-y: scroll;
  font-family: sans-serif;
  padding-top: 20px;
}
.down {
  height: 200px;
  margin-top: 5px;
}
.data {
  width: 60%;
  margin: 0 auto 10px;
  padding-bottom: 5px;
}
.time {
  font-size: 12px;
  text-align: center;
  width: 80%;
  margin: 0 auto 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

form {
  width: 80%;
  margin: 20px auto 0;
}

input {
  height: 40px;
  padding-left: 10px;
  border: 1px solid red;
  border-radius: 5px;
}

button {
  height: 40px;
  border-radius: 5px;
  background-color: lightblue;
}

input:focus {
  outline-width: 0;
}
